.login-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #f4f6f8;
}

.login-paper {
    padding: 32px;
    width: 100%;
    max-width: 400px;
}

.login-box {
    display: flex;
    flex-direction: column;
    align-items: center;
}
